@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your index.css or App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.bgAbout{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets/pexels-jopwell-2422290.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgHome{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets/nursery-hero-6.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgCatalogue{
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets/corporate-events.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fiftyVH{
    height: 50vh;
}

.bgFocus{
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets/focusArea.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgSponsor{
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets/sponsorBG.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgJoin{
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets/join.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgVolunteer{
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets/volunteer.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgDonate{
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets/donate.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}